.Financial-info{
    background-color: #ffffff;
    font-family: "Roboto", sans-serif; /* Add Roboto as the font family */
    display: block;
}

.FinanceText{
    font-family: "Roboto", sans-serif;
    position: relative;
    margin-bottom: 0px;
    color:#2f2c9b;
    font-size: 18px;
    font-weight: 500;
}

.other-info{
    text-align: left;
    margin-left: 10px;
}

.other-info1{
    text-align: left;
}

.other-info2{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.green-check {
    color: green;
    margin-left: 20px;
    display: inline-block;
    position:relative;
    margin-bottom: 5px;
}

.red-cross {
    color: red;
    margin-left: 20px;
    display: inline-block;
    position:relative;
    margin-bottom: 5px;
}