.notif{
    height: auto;
    width: 50px;
    color:  #4540db;
    transition: color 0.3s; /* Smooth background color transition on hover */
   }
   
.notif-wrapper{
    margin-right: 150px;
}

.notif-wrapper:hover .notif {
    color:#7975d6;
}

.notifPopup {
    width: 14px;
    height: 14px;
    background-color: rgb(238, 90, 90);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 177px;
    font-size:xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}

.notif-wrapper:hover .notifPopup {
    background-color: rgb(234, 129, 129);
}