.notif{
    height: auto;
    width: 50px;
    color:  #4540db;
    transition: color 0.3s; /* Smooth background color transition on hover */
   }
   
.notif-wrapper{
    margin-right: 150px;

}

.notif:hover{
   color:#7975d6;
  
}